@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Dancing+Script:wght@400;700&family=Kalnia:wght@100&family=Oswald:wght@200;300;700&family=Playfair+Display&family=Roboto:wght@100;400&family=Spectral+SC&display=swap');body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}

*{
  font-family: 'Playfair Display', serif;
}